.btn{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     z-index: 1000;
     background: #900;
     clip-path: circle(10% at 50% 0%);

     cursor: pointer;
}
/* --------------------------------------------------------
.                 STEP 1: Place the SECTIONS.
.          Give Z-Index lowest to the vissible div

STEP 2: Use Clip-Paths and add ACTIVE Classes.
Add its ACTIVE Class to the visible div in the HTML
--------------------------------------------------------- */
.main{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background: #00a;
     z-index: 10;

     clip-path: circle(0% at 50% 100%);
     transition: 0.9s ease;
}
.nav{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background: #0a0;
     z-index: 100;

     clip-path: circle(0% at 0% 0%);
     transition: 0.9s ease;
}
/* -------------------------------------------------- */
.main.mactive{
     clip-path: circle(150% at 50% 100%);
}
.nav.nactive{
     clip-path: circle(150% at 0% 0%);
}
